[submodule "pack/github/start/copilot.vim"]
	path = pack/github/start/copilot.vim
	url = https://github.com/github/copilot.vim
[submodule "pack/vendor/start/ale"]
	path = pack/vendor/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/vendor/start/nerdcommenter"]
	path = pack/vendor/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
[submodule "pack/vendor/start/nerdtree"]
	path = pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
